<form id="signup-form" class="card">
  <div>
    <h1 class="card-header"> Signup </h1>
  </div>
  <div class="card-body">
    <div>
      <label for="username-input-signup">username:</label>
      <input type="text" id="username-input-signup" />
    </div>
    <div>
      <label for="password-input-signup">password:</label>
      <input type="password" id="password-input-signup" />
    </div>
    <div>
      <button type="submit">signup</button>
    </div>
        <div>
      <a href="/login"> login up instead! </a>
    </div>
  </div>
</form>

<script src="./js/signup.js"></script>